@page
@model SummerPortfolioProject.Pages.ModeratePortfoliosModel
@{
    Model.RequirePermissions(moderatePortfolios: true);
    ViewData["Title"] = "Moderate Portfolios";
}

<form>
    <span>
        <label for="locationSearch" class="m-1 d-inline-block">Location</label>
        <input class="form-control m-1 d-inline-block" style="width: 250px" type="search" name="locationSearch" value="@Request.Query["locationSearch"]"/>
        <label for="skillSearch" class="m-1 d-inline-block">Skill</label>
        <input class="form-control m-1 d-inline-block" style="width: 250px" type="search" name="skillSearch" value="@Request.Query["skillSearch"]"/>
        <button type="submit" class="btn btn-primary m-1 d-inline-block"><span class="fa fa-search"></span> Search</button>
    </span>
</form>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Date of Birth</th>
        <th>Location</th>
        <th>Email</th>
        <th>Approved</th>
        <th>Skills</th>
        <th style="width: 0px;"><!--Link Buttons--></th>
    </tr>
    @foreach (ModeratePortfoliosModel.FullCandidate candidate in Model.fullCandidates)
    {
        <tr>
            <td>@candidate.Id</td>
            <td>@candidate.Forename</td>
            <td>@candidate.Surname</td>
            <td>@candidate.DateOfBirth.ToShortDateString()</td>
            <td>@candidate.Location</td>
            <td>@candidate.Email</td>
            <td>@(candidate.Approved ? "Yes" : "No")</td>
            <td><ul>
                @foreach (KeyValuePair<string, int> skill in candidate.Skills)
                {
                    <li><strong>@skill.Key</strong> - @skill.Value</li>
                }
            </ul></td>
            <td>
                <a class="btn btn-primary table-button nav-link text-black" href="/ViewPortfolio?id=@(candidate.Id)"><span class="fa fa-link"></span> View</a>
                <a class="btn btn-secondary table-button nav-link text-white" href="/SubmitPortfolio?edit_id=@(candidate.Id)"><span class="fa fa-pencil"></span> Edit</a>
                @if (candidate.Approved)
                {
                    <a class="btn btn-warning table-button nav-link text-black" href="/PortfolioOneClick/ToggleHide?id=@(candidate.Id)&RedirectTo=%2FModeratePortfolios%3FlocationSearch%3D@(Request.Query["locationSearch"])%26skillSearch%3D@(Request.Query["skillSearch"])"><span class="fa fa-minus"></span> Hide</a>
                }
                else
                {
                    <a class="btn btn-success table-button nav-link text-white" href="/PortfolioOneClick/ToggleHide?id=@(candidate.Id)&RedirectTo=%2FModeratePortfolios%3FlocationSearch%3D@(Request.Query["locationSearch"])%26skillSearch%3D@(Request.Query["skillSearch"])"><span class="fa fa-check"></span> Approve</a>
                }
                <a class="btn btn-danger table-button nav-link text-white" href="/PortfolioOneClick/Delete?id=@(candidate.Id)&RedirectTo=%2FModeratePortfolios%3FlocationSearch%3D@(Request.Query["locationSearch"])%26skillSearch%3D@(Request.Query["skillSearch"])"><span class="fa fa-trash"></span> Delete</a>
            </td>
        </tr>
    }
</table>
