@page
@model SummerPortfolioProject.Pages.ModeratePortfoliosModel
@{
    Model.RequirePermissions(moderatePortfolios: true);
    ViewData["Title"] = "Moderate Portfolios";
}

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Date of Birth</th>
        <th>Location</th>
        <th>Email</th>
        <th>Approved</th>
        <th>Skills</th>
        <th style="width: 0;"><!--Link Buttons--></th>
    </tr>
    @foreach (ModeratePortfoliosModel.FullCandidate candidate in Model.fullCandidates)
    {
        <tr>
            <td>@candidate.Id</td>
            <td>@candidate.Forename</td>
            <td>@candidate.Surname</td>
            <td>@candidate.DateOfBirth.ToShortDateString()</td>
            <td>@candidate.Location</td>
            <td>@candidate.Email</td>
            <td>@(candidate.Approved ? "Yes" : "No")</td>
            <td><ul>
                @foreach (KeyValuePair<string, int> skill in candidate.Skills)
                {
                    <li><strong>@skill.Key</strong> - @skill.Value</li>
                }
            </ul></td>
            <td style="width: min-content;"><a class="btn btn-info nav-link" href="/ViewPortfolio?id=@(candidate.Id)"><span class="fa fa-link"></span> View</a></td>
        </tr>
    }
</table>
