@page
@model SummerPortfolioProject.Pages.ViewPortfolioModel
@{
    ViewData["Title"] = $"Portfolio - {Model.forename} {Model.surname}";

    if (Model.notFound)
    {
        <div class="alert alert-danger">
            The requested portfolio was not found.
        </div>
    }
    else
    {
        if (!Model.approved)
        {
            Model.RequirePermissions(moderatePortfolios: true);
        }
        <table class="table table-bordered" style="float: left; width: @(Model.imageUrl is null ? 100 : 48)%;">
            <tr>
                <th class="table-primary">Forename</th>
                <td>@Model.forename</td>
            </tr>
            <tr>
                <th class="table-primary">Surname</th>
                <td>@Model.surname</td>
            </tr>
            @if (Model.GetPermissions().ModeratePortfolios)
            {
                // Private data that should not be viewable without adaquate permissions
                <tr>
                    <th class="table-primary">Date of Birth</th>
                    <td>@Model.dateOfBirth.ToShortDateString()</td>
                </tr>
                <tr>
                    <th class="table-primary">Location</th>
                    <td>@Model.location</td>
                </tr>
                <tr>
                    <th class="table-primary">Email Address</th>
                    <td>@Model.email</td>
                </tr>
            }
            <tr>
                <th class="table-primary">Approved?</th>
                <td>@(Model.approved ? "Yes" : "No")</td>
            </tr>
            <tr class="table-dark">
                <th colspan="2" style="text-align: center;">Skills</th>
            </tr>
            @foreach (KeyValuePair<string, int> skill in Model.skills)
            {
                <tr>
                    <th class="table-primary">@skill.Key</th>
                    <td><progress class="progress" max="5" value="@skill.Value"></progress></td>
                </tr>
            }
        </table>
        if (Model.imageUrl is not null)
        {
            <img src="@Model.imageUrl" class="img-fluid" style="float: right; clear: right; border-radius: 6px; width: 48%;"/>
        }
    }
}
